# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

#Ignore Folders
/bower_components/
node_modules
/mongodb/data
/mongodb/logs
/src/ui/external/


#ignore Extensions
*.log
